<div class="navbar dark">
  <div class="navbar-inner">
    <div class="brand">
      <a href="/" id="logo">
        <img alt="Landing-logo" data-at2x="//du1frgvkr39c.cloudfront.net/assets/logo-icon-white@2x-9072d535fca03a509747006604c66ad9.png" src="//du1frgvkr39c.cloudfront.net/assets/landing-logo-1bdcf72e80d858b4f6a92487067dd1cb.png">
      </a> </div>
    <div class="nav-collapse" id="sidebar">
      <ul class="nav pull-right">
        <li><a href="/about" class="no-btn">About</a></li>
        <li><a href="http://blog.bucketlistly.com" class="no-btn">Blog</a></li>
        <li>
          <a href="/categories" class="no-btn">
            <span>Bucket List Ideas</span>
          </a> </li>
        <li>
          <a href="#signin_popup" class="no-btn to_modal" data-toggle="modal">
            <span>Sign In</span>
          </a> </li>
        <li class="signin">
          <a href="/users/new" class="btn">
            <span>Sign Up</span>
          </a> </li>
      </ul>
    </div>
    <div id="global_search" class="pull-left global_search">
      <div class="pull-right search_goals">
        <div class="input-row">
          <div class="row-fluid">
            <div class="content span12">
              <label for="global_search_goals">
                <img alt="Icon-search-light" class="icon-search-light" src="//du1frgvkr39c.cloudfront.net/assets/landing-page/icon-search-light-25599e1939c94ed5eb5169f6602739a7.png">
              </label><input class="pull-right global_search_goals ui-autocomplete-input" id="global_search_goals" type="text" placeholder="Search for goals or hashtags" name="global_search_goals" autocomplete="off"><span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
